<!-- Starts with _ because it is partial file that isnt dsiplayed on server -->
<label>Team A</label>
<input type="text" name="team_a" value="<%= game.team_a %>">
<label>Odds</label>
<input type="text" name="odds_a" value="<%= game.odds_a %>">
<div>
  <label>Team B</label>
  <input type="text" name="team_b" value="<%= game.team_b %>">
  <label>Odds</label>
  <input type="text" name="odds_b" value="<%= game.odds_b %>">
</div>