<header>
  <nav>
    <a href="/">Simulated sports betting (hidden)</a>
    <ul>
      <li><a href="/fantasy">Fantasy games</a></li>
      <li><a href="/fantasy/week">Fantasy week</a></li>
      <li><a href="/games">Games</a></li>
      <li><a href="/fantasy/new">Create game</a></li> 
      <li><a href="/account">Account</a></li>
    </ul>
  </nav>
</header>