<header>
  <nav>
    <h1>Simulated sports betting</h1>
    <ul>
      <li><a href="/fantasy/list">Fantasy games</a></li>
      <li><a href="/games/list">Games</a></li>
      <li><a href="/account">Account</a></li>
    </ul>
  </nav>
</header>