<%- include('_headers.ejs') %>
<h2>Edit Game</h2>
<form action="/fantasy/<%= fantasygame.id %>?_method=PUT" method="POST">
  <%- include('_form_fields') %>
  <a href="/fantasy/">Cancel</a>
  <button type="submit">Update</button>
</form>